<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="LevelEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <LevelEditor.Properties.Settings>
            <setting name="MainFormLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MainFormSize" serializeAs="String">
                <value>1460, 899</value>
            </setting>
            <setting name="mainToolStripLocation" serializeAs="String">
                <value>10, 24</value>
            </setting>
            <setting name="simulationToolStripLocation" serializeAs="String">
                <value>179, 24</value>
            </setting>
            <setting name="toolsToolStripLocation" serializeAs="String">
                <value>121, 24</value>
            </setting>
            <setting name="mainToolStripParentName" serializeAs="String">
                <value>TopToolStripPanel</value>
            </setting>
            <setting name="simulationToolStripParentName" serializeAs="String">
                <value>TopToolStripPanel</value>
            </setting>
            <setting name="toolsToolStripParentName" serializeAs="String">
                <value>TopToolStripPanel</value>
            </setting>
        </LevelEditor.Properties.Settings>
    </userSettings>
</configuration>
